.App {
    font-family: sans-serif;
    text-align: center;
  }
  .container {
    display: grid;
    grid-gap: 1rem;
    grid-template-areas:
      "navbar navbar navbar navbar"
      "aside section section section"
      "footer footer footer footer";
  }
  